<!-- public/views/createMatch.html -->
<div class="top-content">
    <div class="inner-bg" >
        <div class="container">
            <div class="row " >
                <div class="col-sm-offset-2 col-sm-8 col-xs-12 ">
                    <div class="row">
                        <div class="col-xs-12">
                            <form>
                                <div class="form-group">
                                    <label for="placeInput">Lugar del partido:</label>
                                    <input type="text" class="form-control" id="placeInput" placeholder="Lugar del partido" ng-model="match.place">
                                </div>
                                <div class="form-group">
                                    <label for="rulesInput">Reglas:</label>
                                    <textarea class="form-control" id="rulesInput" rows="3" ng-model="match.rules" ></textarea>
                                    <small id="rulesHelp" class="form-text text-muted">Reglas o información que se necesitan aclarar para el partido.</small>
                                </div>
                                <div class="form-group">
                                    <label for="dateInput">Fecha:</label>
                                    <p class="input-group">
                                        <input id="dateInput" type="text" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-model="match.dateBegin" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12 form-group">
                                        <label>Hora de inicio:</label>
                                        <div uib-timepicker ng-model="timeBegin" hour-step="1" minute-step="5" show-meridian="false"></div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 form-group">
                                        <label>Hora de fin:</label>
                                        <div uib-timepicker ng-model="timeEnd" hour-step="1" minute-step="5" show-meridian="false"></div>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <label >Equipo invitado:</label>
                                    <input type="text" readonly class="form-control" ng-model="$ctrl.selectedTeam.name">
                                </div>
                                <button  ng-click="createMatch()" class="btn btn-primary">Crear partido</button>
                                <button type="button" class="btn btn-default" ng-click="$ctrl.open()">Invita a un equipo</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
