<!-- public/views/forgottenPassword.html -->
<div class="form-top">
    <div class="form-top-left">
        <h3>¿Has olvidado tu contraseña?</h3>
        <p>Introduce tu email, y te enviaremos un enlace para restaurarla.</p>
    </div>
</div>
<div  class="form-bottom">
    <form role="form" name="passwordForm" class="login-form" novalidate>
        <div class="row">
            <div class="form-group col-xs-12" ng-class="{ 'has-error' : passwordForm.formemail.$invalid && submitted }">
                <label  for="form-email">Email</label>
                <input type="email" name="formemail" ng-model="email" placeholder="Email..." class="form-email form-control" required id="form-email">
                <p ng-show="passwordForm.formemail.$invalid && submitted " class="help-block">Email vacio o incorrecto.</p>
            </div>
        </div>
        <button ng-click="sendPasswordEmail(passwordForm.formemail.$invalid)" class="btn">Enviar</button>
    </form>
</div>


