<!-- public/views/playersTeam.html -->
<div class="top-content">
    <div class="container">
        <div class="row " >
            <div class="col-sm-offset-2 col-sm-8 col-xs-12 ">
                <player-card ng-repeat="player in players.slice(((currentPage-1)*10), ((currentPage)*10))" name="{{player.name}}" provinces="{{player.provinces}}" date="{{player.date}}" goalkeeper="{{player.goalkeeper}}" coordinator="{{player.coordinator}}" show-details="showDetails(player)"></player-card>
                <ul uib-pagination total-items="totalItems" ng-show="totalItems>10" ng-model="currentPage" ></ul>
            </div>
        </div>
    </div>
</div>
