<!-- public/views/searchMatch.html -->
<div class="top-content">
    <div class="inner-bg" >
        <div class="container">
            <div class="row " >
                <div class="col-sm-offset-2 col-sm-8 col-xs-12 ">
                    <div class="row form">
                        <div class="form-group col-sm-6 col-xs-12">
                            <label for="placeInput">Lugar del partido:</label>
                            <input type="text" class="form-control" id="placeInput" placeholder="Lugar del partido" ng-model="match.place">
                        </div>
                        <div class="form-group col-sm-6 col-xs-12">
                            <!--Provincia -->
                            <label  for="form-province">Provincias</label>
                            <select class="form-select form-control" multiple name="form-province" id="form-province" ng-model="match.province" placeholder="Provincia...">
                                <option ng-repeat="province in provinces" ng-value="province.id">{{province.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6 col-xs-12">
                            <label for="dateInputFrom">Fecha desde:</label>
                            <p class="input-group">
                                <input id="dateInputFrom" type="text" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-model="match.dateBegin" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                        <div class="form-group col-sm-6 col-xs-12">
                            <label for="dateInputTo">Fecha hasta:</label>
                            <p class="input-group">
                                <input id="dateInputTo" type="text" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-model="match.dateEnd" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                        <div class="col-xs-12">
                            <button class="btn btn-primary" ng-click="search()">Buscar</button>
                        </div>
                    </div>
                    <match-search-card ng-repeat="match in matches" name="{{match.teamName}}" date-created="{{match.dateCreated}}" date-begin="{{match.dateBegin}}" date-end="{{match.dateEnd}}" province="{{match.provinceName}}" place="{{match.place}}" rules="{{match.rules}}" accept="accept(match)" show-bt="showBt()"></match-search-card>
                </div>
            </div>
        </div>
    </div>
</div>
