<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Ficha de {{$ctrl.player.name}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <h5>Fecha de inscripcion equipo: {{$ctrl.playerTeam.date | date:'d/M/yy' }}</h5>
        </div>
        <div class="col-sm-4 col-xs-12 form-group">
            <!--Creador -->
            <h5 class="form-check-label" for="formCreator">Creador del equipo</h5>
            <input disabled readonly type="checkbox" ng-model="$ctrl.playerTeam.creator" id="formCreator" >
        </div>
        <div class="col-sm-4 col-xs-12 form-group">
            <!--Privilegios -->
            <h5 class="form-check-label" for="formPrivileges">Tiene permisos</h5>
            <input disabled readonly type="checkbox" ng-model="$ctrl.playerTeam.privileges" id="formPrivileges" >
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <h5>Goles: {{$ctrl.playerGoals}}</h5>
        </div>
        <div class="col-sm-4 col-xs-12">
            <h5>Partidos jugados: {{$ctrl.playerMatchesPlayed}}</h5>
        </div>
        <div class="col-sm-4 col-xs-12">
            <h5>Partidos convocado: {{$ctrl.playerMatchesSummoned}}</h5>
        </div>
    </div>
    <button class="btn btn-primary" type="button" ng-click="$ctrl.givePrivileges()" ng-show="!$ctrl.playerTeam.privileges && $ctrl.privileges">Dar permisos</button>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
</div>