<div class="modal-header">
    <h5 class="modal-title" id="modal-title">Este equipo es privado, debe introducir la contraseña.</h5>
</div>
<div class="modal-body" id="modal-body">
    <form role="form" name="passwordTeamForm" class="login-form" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : passwordTeamForm.formpassword.$invalid  && $ctrl.submitted }">
            <label class="sr-only" for="form-password">Password</label>
            <input type="password" name="formpassword" ng-model="$ctrl.password" placeholder="Password..." class="form-password form-control" required id="form-password">
            <p ng-show="passwordTeamForm.formpassword.$invalid &&  $ctrl.submitted " class="help-block">Introduce la contraseña</p>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok(passwordTeamForm.formpassword.$invalid)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
</div>