<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Términos y condiciones.</h4>
</div>
<div class="modal-body" id="modal-body">
    <ul>
        <li>
            La cuenta será bloqueada sin previo aviso si un miembro hace un uso fraudulento de la aplicación.
            <br>
            <br>
        </li>
        <li>
            PachangaNet no se responsabiliza por fallos en el servidor u otros problemas técnicos.
            <br>
            <br>
        </li>
        <li>
            Los miembros que participan en foros de discusión, escriben comentarios y artículos o usan nombres especiales se comprometen a no insultar a los demás, a no utilizar o publicar contenido ilegal o por motivos políticos o nombres, no publicar pornografía, no utilizar lenguaje soez, siendo el único responsable por su contenido proporcionado, por hacer para violar los derechos de otros (especialmente marcas comerciales, derechos de autor o derechos personales) y totalmente eximirá al operario de las demandas de terceros causados ​​por sus acciones.
            <br>
            <br>
        </li>
        <li>
            Este servicio es exclusivamente para el uso personal. La utilización de este servicio para fines comerciales o de reventa, sin una aprobación previa, está terminantemente prohibida.
            <br>
            <br>
        </li>
        <li>
            PachangaNet o sus licenciantes es titular de todos los derechos de propiedad intelectual e industrial de la página web, así como de los elementos contenidos en la misma (a título enunciativo, datos, bases de datos, imágenes, sonido, audio, vídeo, software o textos; marcas o logotipos, combinaciones de colores, estructura y diseño, selección de materiales usados, programas de ordenador necesarios para su funcionamiento, acceso y uso, etc.), y de los datos y bases de datos generados por los usuarios al usar cualquiera de las versiones de PachangaNet.
            <br>
            <br>
        </li>
        <li>
            <strong>Información de carácter no personal</strong>
            <br>
            Se trata de información sobre los usuarios que se registra de forma que no refleje ni haga referencia a un usuario al que se pueda identificar de forma individual.
            <br>
            <br>
        </li>
        <li>
            <strong>Información personal</strong>
            <br>
            Es la información proporcionada por los usuarios que permite identificarlos personalmente, como el nombre, la dirección de correo electrónico, fecha de nacimiento u otro tipo de datos que PachangaNet pueda relacionar de manera razonable con dicha información como, por ejemplo, los datos que asociamos a tu cuenta de correo eletrónico.
            <br>
            <br>
        </li>
        <li>
            <strong>Registros de servidor</strong>
            <br>
            Como la mayoría de los sitios web, nuestros servidores registran de forma automática las solicitudes de páginas que se realizan cuando se visitan nuestros sitios.
            <br>
            <br>
        </li>
        <li>
            <strong>Utilización de los datos que nos proporciona el usuario</strong>
            <br>
            PachangaNet unicamente hara uso de los datos que nos ha proporcionado el usuario para un funcionamiento correcto de los servicios, como puede ser el cambio de contraseña o modificación de algún dato erroneo.
            <br>
            <br>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok(passwordTeamForm.formpassword.$invalid)">OK</button>
</div>