
<div class='card'>
    <a class="list-group-item">
        <div class="row">
            <div class="col-xs-11">
                <div class='card-header'>Asunto: {{subject}}  Autor:   {{player}} </div>
                <div class='card-body'>
                    <h5 class='card-title'>{{text}} </h5>
                    <p class='card-text'>{{date | date:'d/M/yy HH:mm'}} </p>
                </div>
            </div>
            <div ng-click="delete()" class="col-xs-1">
                <i class="fas fa-times fa-2x "></i>
            </div>
        </div>
    </a>
</div>
