<div class='card'>
        <div class='card-body row' style="font-size: x-small">
            <div class="col-xs-3">
                <h5>{{name}}</h5>
            </div>
            <div class="col-xs-2">
                <h5 class='card-text' ng-show="goalkeeper == 'false'" >No</h5>
                <h5 class='card-text' ng-show="goalkeeper == 'true'" >Si</h5>
            </div>
            <div class="col-xs-1">
                <input class="form-check-input" ng-disabled="!showBt()" ng-model="played" type="checkbox" id="playedCheckbox">
            </div>
            <div class="col-xs-3">
                <input type="number" ng-disabled="!showBt()" class="form-control" id="goalsInput" min="0" ng-model="goals">
            </div>
            <div class="col-xs-3">
                <button  class='btn-primary btn' ng-show="showBt()" ng-click='save()' >Guardar</button>
            </div>
        </div>
</div>
