
<div class='card'>
    <a class="list-group-item" >
        <div class='card-header'>Nombre: {{name}}</div>
        <div class='card-body'>
            <h5 class='card-title'>Provincia: {{provinces}} </h5>
        </div>
        <div ng-click="showBt()" ng-show="show == false">
            <i class="fas fa-arrow-down"  ></i>
        </div>
        <div ng-show="show == true" class="card-footer">
            <div ng-click="showBt();submittedMessage=false">
                <i class="fas fa-arrow-up" ></i>
            </div>
            <div class=" row">
                <form name="messageTeamForm">
                    <div class="form-group col-xs-12">
                        <label for="inputsm">Mensaje</label>
                        <input placeholder="Asunto..." class="form-control input-sm" id="inputsm"  ng-model="subject" type="text">
                    </div>
                    <div class=" form-group col-xs-12" ng-class="{ 'has-error' : messageTeamForm.message.$invalid && submittedMessage }">
                        <input required name="message" placeholder="Mensaje..." class="form-control input-lg" id="inputlg" ng-model="text" type="text">
                        <p ng-show="messageTeamForm.message.$invalid && submittedMessage" class="help-block">No se puede enviar un mensaje sin texto</p>
                    </div>
                </form>
                <div class="form-group col-xs-12">
                    <button class='btn-primary btn' ng-click='click()' >Mandar mensaje</button>
                    <button class='btn-primary btn' ng-click='joinTeam()' >Unirse equipo</button>
                </div>
            </div>
        </div>
        <div ng-show="show == false ">
            <button class='btn-primary btn' ng-click='joinTeam()' >Unirse equipo</button>
        </div>
    </a>
</div>
